* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

#page {
  height: 100vh;
}

body {
  font-size: 1.6rem;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-green-100: hsl(195, 46%, 40%);
  --color-base-green-200: hsl(195, 91%, 25%);

  --color-base-gray-100: hsl(240, 6%, 13%);
  --color-base-gray-200: hsla(240, 6%, 8%, 1);
  --color-base-gray-300: hsla(0, 0%, 100%, 0.2);
}

/* HEADER */
header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1.2rem 2.8rem;
  gap: 2.4rem;

  background-color: var(--color-base-green-100);
}

header img {
  width: 4rem;
  height: 4rem;
}

form {
  flex: 1;
}

/* Esconde o label! */
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.4rem;

  border: none;
  border-radius: 0.4rem;
  background-color: var(--color-base-gray-300);

  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
  opacity: 0.8;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover; /* Cobre todo o espaço diponível com a img */
  border-radius: 50%; /* Quando temos img quadradas, arrendonda corretamente */
}

/* MAIN */
.cover-image {
  width: 100%; /* IMPORTANTE: torna a img flexível!*/
  display: block; /* Tira o espaço entre a img e o próximo container */
}

.article-container {
  padding: 2.8rem 2.6rem;
}

.article-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;

  margin-bottom: 0.8rem;
  color: var(--color-base-gray-100);
}

.article-container button {
  width: 4rem;
  height: 4rem;

  border: none;
  background: none;
}

.article-container p {
  margin-top: 3.2rem;

  line-height: 2.4rem;
  color: var(--color-base-gray-200);
}

/* ASIDE */
aside {
  padding: 0 2.6rem 4rem;
}

aside h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-base-gray-100);
}

.articles-gallery {
  display: grid;
  gap: 3.2rem;
  margin-top: 3.2rem;
}

.article-preview {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 1.6rem;
  align-items: center;
}

.article-preview img {
  width: 100%;
}

.article-preview figcaption {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.article-preview figcaption h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--color-base-gray-100);
}
.article-preview figcaption p {
  font-size: 1.4rem;
  line-height: 2rem;
}

/* FOOTER */
footer {
  display: flex;
  background: var(--color-base-green-100);

  padding: 1.6rem;

  align-items: center;
  justify-content: center;
}

footer p {
  font-weight: 600;
  color: var(--color-base-white);
}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
  #page {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
  }

  #page header {
    grid-area: header;
  }

  #page main {
    grid-area: main;
  }

  #page aside {
    grid-area: aside;
  }

  #page footer {
    grid-area: footer;
  }

  header {
    padding: 1.2rem 11.2rem;
  }

  main {
    padding: 4rem 0 4rem 10.4rem;
  }

  aside {
    padding: 4rem 10.4rem 4rem 3.2rem;
  }

  .article-container {
    padding: 2.8rem 0 0;
  }
}
