* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-green-100: hsl(195, 46%, 40%);
  --color-base-green-200: hsl(195, 91%, 25%);

  --color-base-gray: #ffffff33;

  --color-base-black-100: hsl(240, 5%, 7%);
  --color-base-black-200: hsl(240, 6%, 13%);
}

.page {
  display: grid;
  grid-template-areas: "header header" "main aside" "footer footer";
}

/* HEADER */
header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1.2rem 2.8rem;
  gap: 2.4rem;

  background-color: var(--color-base-green-100);
}

header img {
  width: 4rem;
  height: 4rem;
}

form {
  flex: 1;
}

/* Esconde o label! */
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.4rem;

  border: none;
  border-radius: 0.4rem;
  background-color: var(--color-base-gray);

  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
  opacity: 0.6;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover; /* Cobre todo o espaço diponível com a img */
  border-radius: 50%; /* Quando temos img quadradas, arrendonda corretamente */
}

/* MAIN */
 .cover-image {
  width: 100%; /* IMPORTANTE: torna a img flexível!*/
 }

 .article-container {
  padding: 2.8rem 2.6rem;
 }

 .article-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;

  margin-bottom: .8rem;
 }

 .article-container button {
  width: 4rem;
  height: 4rem;

  border: none;
  background: none;
 }
