* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-green-100: hsl(195, 46%, 40%);
  --color-base-green-300: hsl(195, 91%, 25%);
  --color-base-gray: #ffffff33;

  --color-base-black-100: hsl(240, 5%, 7%);
  --color-base-black-200: hsl(240, 6%, 13%);
}
